---
# Variables for this exercise
fqdn: site.example.conf
certbotpath: /usr/local/certbot
aws_access_key_id: DDDDDDDDDDDDDDDD
aws_secret_access_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
nginxuser: httpd
nginxgroup: httpd

#user: nginx
#group: nginx
